* {
    box-sizing: border-box;
}

.container {
    position: relative;
	margin: 300px auto;
	width: 300px;
	height: 300px;
	perspective: 300px;
}

.cub {
    width: inherit;
	height: inherit;
    transform-style: preserve-3d;
    position: relative;
    
    .div-1 {
        position: absolute;
        width: inherit;
        height: inherit;
        border: 5px solid #bb2e2e;
        transform: translateZ(150px);
    }
    .div-2 {
        transform: rotateY(180deg) translateZ(150px);
        position: absolute;
        width: inherit;
        height: inherit;
        border: 5px solid #bb2a2a;
    }
    .div-3 {
        transform: rotateY(90deg) translateZ(150px);
        position: absolute;
        width: inherit;
        height: inherit;
        border: 5px solid #0c0c0c;
    }
    .div-4 {
        transform: rotateY(-90deg) translateZ(150px);
        position: absolute;
        width: inherit;
        height: inherit;
        border: 5px solid #222121;
    }
    .div-5 {
        transform: rotateX(90deg) translateZ(150px);
        position: absolute;
        width: inherit;
        height: inherit;
        border: 5px solid #212222;
    }
    .des {
        width: 100px;
        height: 100px;
        position: absolute;
        border: 1px solid black;
        background: blue;
        transform-origin: bottom center;
        transform: translateY(120px) rotatex(85deg) rotateZ(10deg); 
    }  
}
.wrapp {
    position: absolute;
    bottom:  -200px;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .card {
        width: 200px;
        height: 200px;
        position: relative;
        text-align: center;
        perspective: 1000px;
        .front{
            border: #bb2a2a 1px solid;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 1s;
            backface-visibility: hidden;
            border-radius: 10px;
            background-color: azure;
        }
        
        &:hover .front {transform: rotateY(360deg);}
        
        
        
    }
}

